!! solarized theme from https://github.com/solarized/xresources/blob/master/Xresources.dark
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3



! URxvt config
!URxvt*background: base00
!URxvt*foreground: base05

! (uncomment for transparent background)
!URxvt*inheritPixmap: true
!URxvt*transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
!URxvt*.shading: 12
! Fade the text by the given percentage when focus is lost
!URxvt*fading: 15
! Fade to this colour, when fading is used (see fading:)
!URxvt*fadeColor: S_base02

! Select the fonts to be used. This is a comma separated list of font names
URxvt*font: xft:xos4 Terminus:pixelsize=14
URxvt*title: urxvt
URxvt*visualBell: false
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 0
URxvt*saveLines: 1000
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*resize-font.smaller: C-minus
URxvt*resize-font.bigger: C-plus
URxvt*perl-ext-common: resize-font
URxvt*iso14755: false
URxvt*iso14755_52: false
URxvt*letterSpace: 0
