! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! URxvt config
!URxvt*background: base00
!URxvt*foreground: base05

! (uncomment for transparent background)
!URxvt*inheritPixmap: true
!URxvt*transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
!URxvt*.shading: 12
! Fade the text by the given percentage when focus is lost
!URxvt*fading: 15
! Fade to this colour, when fading is used (see fading:)
!URxvt*fadeColor: S_base02

! Select the fonts to be used. This is a comma separated list of font names
URxvt*font: xft:xos4 Terminus:pixelsize=14
! URxvt*font: xft:Inconsolata:pixelsize=16,xft:Monaco:pixelsize=16,xft:Noto Mono:pixelsize=16,xft:Noto Sans:pixelsize=16
URxvt*title: urxvt
URxvt*visualBell: false
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 0
URxvt*saveLines: 1000
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*resize-font.smaller: C-minus
URxvt*resize-font.bigger: C-plus
URxvt*perl-ext-common: resize-font
URxvt*iso14755: false
URxvt*iso14755_52: false
! URxvt*letterSpace: -1
URxvt*letterSpace: 0
