#!/bin/bash

# shellcheck source=.profile
[ -f "$HOME/.profile" ] && source "$HOME/.profile"

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=xim

export GTK2_RC_FILES=~/.gtkrc-2.0
export QT_QPA_PLATFORMTHEME=qt5ct

# fix java in bspwm
export _JAVA_AWT_WM_NONREPARENTING=1

# qt scaling
export QT_SCALING_FACTOR=1
export QT_AUTO_SCREEN_SCALE_FACTOR=1

export DISPLAY=:0

# reset
setxkbmap ''
setxkbmap -option ''

{ pgrep -x xcape && pkill -x xcape; } >/dev/null 2>&1

setxkbmap us altgr-intl nodeadkeys

# make both shift keys together act like caps lock
# caps lock like ctrl (when pressed in conjunction with another key)
# and like escape on its own
setxkbmap -option shift:both_capslock
setxkbmap -option caps:shiftlock
setxkbmap -option compose:rwin-altgr
setxkbmap -option compose:lwin-altgr
setxkbmap -option compose:menu
xcape -e 'Control_L=Escape' -t 210
xcape -e 'Control_R=Escape' -t 210

numlockx on

# machine-specific configuration
# shellcheck source=/dev/null
[ -f "$HOME/.xprofile-${HOSTNAME:-$HOST}" ] \
    && source "$HOME/.xprofile-${HOSTNAME:-$HOST}"
