! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! URxvt config
!URxvt*background: base00
!URxvt*foreground: base05

! URxvt is intentionally spelled in lower case in the following paragraph
! so it does not apply to scratchpad-terminal
urxvt*inheritPixmap: true
urxvt*transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
urxvt*.shading: 21
! Fade the text by the given percentage when focus is lost
!urxvt*fading: 15
! Fade to this colour, when fading is used (see fading:)
!urxvt*fadeColor: S_base02
! true transparency for floating terminal
floating-terminal*.depth: 32
floating-terminal*foreground: #B0B0B0
floating-terminal*background: rgba:2000/2000/2000/cccc

! Select the fonts to be used. This is a comma separated list of font names
scratchpad-terminal*font: xft:Gohu GohuFont:pixelsize=14,xft:xos4 Terminus:pixelsize=14,xft:Inconsolata:pixelsize=14,xft:InconsolataForPowerline Nerd Font:pixelsize=14,xft:Monaco:pixelsize=14,xft:Noto Mono:pixelsize=14,xft:Noto Sans:pixelsize=14
URxvt*font: xft:Monaco:size=12,xft:Inconsolata:size=12,xft:Inconsolata:size=12,xft:Noto Mono:size=12,xft:Noto Sans:size=12
URxvt*title: urxvt
URxvt*visualBell: false
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 0
URxvt*saveLines: 1000
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*resize-font.smaller: C-minus
URxvt*resize-font.bigger: C-plus
URxvt*perl-ext-common: resize-font
URxvt*iso14755: false
URxvt*iso14755_52: false
scratchpad-terminal*letterSpace: 0
URxvt*letterSpace: -1
URxvt*lineSpace: 1
