[mgr]
ratio = [1, 3, 4]
sort_by = "natural"
sort_dir_first = true
linemode = "size"

[preview]
tab_size = 2
max_width = 5000
max_height = 5000

[plugin]
prepend_previewers = [
    { url = "*.md", run = 'piper -- CLICOLOR_FORCE=1 glow -w=$w -s=dark "$1"' },
    { mime = "text/csv", run = "miller" },
    { mime = "audio/*", run = "exifaudio" },
    # Archive previewer
    { mime = "application/*zip", run = "ouch" },
    { mime = "application/x-tar", run = "ouch" },
    { mime = "application/x-bzip2", run = "ouch" },
    { mime = "application/x-7z-compressed", run = "ouch" },
    { mime = "application/x-rar", run = "ouch" },
    { mime = "application/x-xz", run = "ouch" },
    { mime = "{image,audio,video}/*", run = "mediainfo" },
    { mime = "application/subrip", run = "mediainfo" },
    { mime = "application/sqlite3", run  = 'piper -- sqlite3 "$1" ".schema --indent"' },
]
append_previewers = [{ url = "*", run = 'piper -- hexyl --border=none --terminal-width=$w "$1"' }]

prepend_fetchers = [
    { id = "git", url = "*", run = "git" },
    { id = "git", url = "*/", run = "git" },
]
